.card
{
    width:60%;
    margin-left: 220px;
    margin-top:100px;
    margin-bottom: 40px;
}
.example-form 
{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.example-full-width
{
    width: 100%;
}
.collection
{
  font-family: 'Playfair Display SC', serif;
  margin-left:1050px;
  margin-bottom:0;
}
.done
{
  margin-left:670px;
}
